.pos-selector-container {
  display: flex;
  flex-direction: column;
  padding: 0;

  .pos-selector-row {
    display: flex;
    flex-grow: 1;
    
    > .pos-selector-left, .pos-selector-right {
      display: flex;
      justify-content: center;
    }

    > .middle {
      position: relative;
      padding: 0;
      margin: 10px;
    }

    .pos-selector-image-container {
      justify-content: center;
      position: relative;
      overflow: hidden;

      > :not(.pos-selector-image) {
        position: absolute;
        transform: translate(-50%, 50%);
      }
    }
  }
}

$b-near: calc(50% - 35% - 1.5em);
$b-far: calc(50% + 35% + 1.5em);
$l-red: 90%;
$l-blue: 10%;

$year-role-locations: (
  "scorer-ABh": (calc(50% - 3% - 1.2rem), 50% - 15%),
  "scorer-ABl": (calc(50% - 3% + 1.2rem), 50% - 23%),
  "scorer-CDh": (calc(50% + 3% - 1.2rem), 50% + 23%),
  "scorer-CDl": (calc(50% + 3% + 1.2rem), 50% + 15%)
);

$role-locations: map-merge((
  "estop-red-1": ($l-red, 30%),
  "estop-red-2": ($l-red, 45%),
  "estop-red-3": ($l-red, 60%),
  "estop-blue-1": ($l-blue, 70%),
  "estop-blue-2": ($l-blue, 55%),
  "estop-blue-3": ($l-blue, 40%),
  "ref-head": (50%, $b-near),
  "ref-blue-near": (50% - 20%, $b-near),
  "ref-red-near": (50% + 20%, $b-near),
  "ref-blue-far": (50% - 20%, $b-far),
  "ref-red-far": (50% + 20%, $b-far),
  "monitor": (40%, $b-near),
), $year-role-locations);

.field-pos-resource {
  &[data-role] {
    display: none;  // Hide anything we don't have a role for
    .btn {
      border: 0.15em solid black;
      font-size: 1em !important;
    }
  }

  @each $key, $rloc in $role-locations {
    &[data-role=#{$key}] {
      display: block;
      left: nth($rloc, 1);
      bottom: nth($rloc, 2);
    }
  }

  &[data-fta=true] {
    display: block;
    left: 60%;
    bottom: $b-near;
  }

  &[data-role*="-red-"] {
    .btn { @extend .btn-red; }
  }
  &[data-role*="-blue-"] {
    .btn { @extend .btn-blue; }
  }
  &[data-role="ref-head"] {
    .btn { @extend .btn-purple; }
  }
}

.resource-indicator {
  width: 1.5em;
  height: 1.5em;
  margin: 0.1em 0.1em 0 0.1em;
  border: 1px solid darken(theme-color("dark"), 10%);
  border-radius: 0.2em;
  background-color: lighten(theme-color("dark"), 10%);
  display: flex;
  color: $gray-400;
  font-weight: bold;
  font-size: 1.8em;

  justify-content: center;
  align-items: center;

  &[data-satisfied=false] {
    background-color: theme-color("bad");
    color: darken(theme-color("bad"), 30%);
  }

  &[data-ready=true] {
    background-color: theme-color("good");
    color: darken(theme-color("good"), 20%);
  }

  &[data-fta=true] {
    border: 3px solid lighten(theme-color("gold"), 10%);
  }

  &[data-role="ref-head"] {
    border: 3px solid lighten(theme-color("purple"), 10%);
  }
}

.resource-accordion-header {
  &[data-ready=true] {
    .accordion-button {
      background-color: darken(theme-color("good"), 20%);
    }
  }
}

.paginate {
  .paginate-footer {
    > * {
      display: flex;
      justify-content: center;
      align-items: center;

      color: $gray-400;
    }
  }
}

// Playoff Bracket

.playoff-bracket-graph {
  --bracket-color: #{theme-color("dark")};
  color: white;
  
  &[data-dark-mode=true] {
    --bracket-color: white;
    color: black;
  }

  .bracket-edge {
    > path {
      stroke: $gray-500;
      stroke-width: 2;
    }
    &.bracket-edge-played {
      > path {
        stroke: var(--bracket-color);
        opacity: 0.7;
      }
    }
    &.bracket-edge-next {
      > path {
        stroke: theme-color("success");
      }
    }
  }

  .bracket-set {
    width: 210px;
    height: 50px;
    background-color: var(--bracket-color);
    border: 2px solid var(--bracket-color);
    border-radius: 5px;
  
    font-size: 12px;
  
    display: flex;
    flex-direction: column;
    overflow: hidden;
  
    text-align: center;
    // color: white;
  
    &[data-played=true], &[data-ready=false] {
      opacity: 0.7;
    }
  
    &[data-next=true] {
      border-color: theme-color("success");
      background-color: theme-color("success");
      color: white;

      > .match-name {
        font-size: 12px !important;
      }
    }

    &[data-has-next=true] {
      height: 67px;
      transform: translateY((50px - 67px) / 2);
      > .match-name {
        height: 67px - 50px;
        font-size: 11px;
      }
    }
  
    .react-flow__handle {
      opacity: 0;
    }
  
    .bracket-alliance-row {
      color: white;

      height: 50%;
      @each $alliance in $alliances {
        &[data-alliance=#{$alliance}] {
          background-color: theme-color($alliance);
        }
      }
  
      &[data-winner=true] {
        font-style: italic;
        text-decoration: underline;
        font-weight: bold;
      }
  
      .col {
        padding: 2px;
      }
  
      .bracket-alliance {
        min-width: 25px;
        max-width: 25px;
        padding-right: 3px;
        text-align: end;
        background-color: white;
        color: $gray-600;
      }
  
      .spacer {
        min-width: 15px;
        max-width: 15px;
      }
    }
  }
}

// Playoff Round Robin
.round-robin-title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.25em;
  margin-left: 0.5em;
}

.round-robin-standings {
  font-size: 0.65em;
  max-width: 33%;

  &[data-has-leaderboard=false] {
    display: none;
  }

  background-color: white;
  color: theme-color("dark");
  &[data-dark-mode=true] {
    background-color: theme-color("dark");
    color: white;
  }

  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin-left: 0.5em;

  .round-robin-standings-title {
    font-size: 1em;
    font-weight: bold;
  }

  .round-robin-standings-entry {
    font-size: 0.9em;
    margin-bottom: 0.2em;
  }
}

.round-robin-matches {
  font-size: 0.65em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  overflow: hidden;
  max-height: 100%;

  background-color: white;
  color: theme-color("dark");

  &[data-dark-mode=true] {
    background-color: theme-color("dark");
    color: white;
    .round-robin-alliance-num {
      background-color: white !important;
      color: $gray-600 !important;
    }
  }
  
  .round-robin-match {
    margin-bottom: 0.5em;

    opacity: 0.6 - 0.04*10;
    @for $i from 1 through 10 {
      &:nth-child(1n + #{$i}) {
        opacity: 0.6 - 0.04*$i
      }
    }

    &[data-next=true] {
      opacity: 1;
    }
    
    .round-robin-match-name {
      max-width: 4em;
      padding: 0.5em;
    }
    
    .round-robin-alliance {
      color: white;
      text-align: center;
      margin-left: 0.5em;
      padding: 0;
      border-radius: 0.5em;
      overflow: hidden;

      > .row {
        height: 100%;
        align-items: center;
      }

      @each $alliance in $alliances {
        &[data-alliance=#{$alliance}] {
          background-color: theme-color($alliance);
        }
        padding-right: 0.5em;
      }

      .round-robin-alliance-num {
        height: 100%;
        
        padding-top: 0.5em;
        padding-left: 0.75em;
        padding-right: 0.25em;
        margin: 0;
        text-align: end;
        background-color: theme-color("dark");
        color: $gray-500;
      }
    }
  }
}