# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.kvdb

/data
/output
/cache

# Event backups
*.tar.gz

!network/*

jms-test/
JMS_BACKUP
JMS_BACKUPS

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Added by cargo

target/
old/
/debug/
Cargo.lock
**/*.rs.bk

*.sqlite
*.db

.kube
