@import "../variables.scss";
@import "../global.scss";

// Referees

.referee-panel {
  max-width: 90vw;
  margin: auto;
}

.btn-penalty {
  font-weight: bold;
  font-size: 1.45em;
  height: 3.75em;
}

.penalty-category {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 1em;

  @each $alliance in $alliances {
    $tc: theme-color($alliance);
    &[data-alliance=#{$alliance}] {
      background-color: desaturate(darken($tc, 25%), 30%);
    }
  }

  .penalty-count {
    text-align: center;
    font-size: 4em;
    margin-bottom: 0.125em;
  }
}

.referee-station {
  max-width: calc(33% - 2*0.5em);
  margin: 0.5em;
  padding: 1em;
  border-radius: 1em;
  font-size: 0.8em;

  @each $alliance in $alliances {
    $tc: theme-color($alliance);
    &[data-alliance=#{$alliance}] {
      background-color: desaturate(darken($tc, 25%), 30%);
    }
  }

  .referee-station-team {
    font-size: 2em;
    margin-left: 0.5em;
  }
}

.referee-station-score {
  padding: 0.5em;

  &[data-score-type=leave] {
    @extend .btn-bad;
    &[data-score-value=true] {
      @extend .btn-good;
    }
  }

  // &[data-score-type=auto_docked], &[data-score-type=charge_station_level] {
  //   @extend .btn-bad;
  //   &[data-score-value=true] {
  //     @extend .btn-good;
  //   }
  //   font-size: 2em !important;
  // }

  // &[data-score-type=endgame] {
  //   width: 100%;
  //   display: flex;
  //   > button {
  //     @extend .btn-outline-light;
  //     &[data-selected=true] {
  //       @extend .btn-good;
  //     }
  //     flex-grow: 1;
  //     font-weight: bold;
  //   }

  //   &[data-score-value=None] > [data-selected=true] {
  //     @extend .btn-bad;
  //   }
  // }
}

// Scorers
.scorer-panel {
  max-width: 90vw;
  margin: auto;

  .scorer-auto-finalise {
    font-size: 2em;
    @extend .btn-good;

    &[data-finalised="true"] {
      @extend .btn-secondary;
    }
  }
}

.edit-scores-version-link {
  background-color: theme-color("dark");

  &[data-active="true"] {
    background-color: theme-color("primary");
  }

  &:hover {
    cursor: pointer;
    opacity: 80%;
  }
}

.scorer-button {
  &[data-button-type="2024-amp"] {
    font-weight: bold;
    font-size: 1.45em;
    height: 3.75em;
  }

  &[data-button-type="2024-speaker"] {
    font-weight: bold;
    font-size: 1.45em;
    height: 3.75em;
  }
}

// 2024
.scoring-2024-stage {
  width: 100%;
  position: relative;

  img {
    margin: auto;
    display: block;

    width: 500px;
    height: 500px;
    object-fit: contain;
  }

  .scoring-2024-indicator {
    position: absolute;
    transform: translate(-50%, -50%);

    font-weight: bold;
    font-size: 2em;
  }

  &[data-alliance="red"] {
    .scoring-2024-indicator {
      &[data-index="0"] {
        left: 10%;
        top: 50%;
      }

      &[data-index="1"] {
        left: 60%;
        top: 70%;
      }

      &[data-index="2"] {
        left: 60%;
        top: 30%;
      }
    }
  }

  &[data-alliance="blue"] {
    .scoring-2024-indicator {
      &[data-index="0"] {
        left: 90%;
        top: 50%;
      }

      &[data-index="1"] {
        left: 40%;
        top: 30%;
      }

      &[data-index="2"] {
        left: 40%;
        top: 70%;
      }
    }
  }
}