@use "sass:color";

@import "./variables.scss";

@import "~bootstrap/scss/bootstrap";
@import "~react-datetime/css/react-datetime.css";
@import "~react-bootstrap-typeahead/css/Typeahead.css";
@import "~bootswatch/dist/darkly/bootswatch";

@function theme-color($key) {
  @return map-get($theme-colors, $key);
}

// E-Stop / Hazard

.btn-estop {
  @include hazard-btn(theme-color("hazard-red"));
}

.btn-estop-reset, .btn-astop, .btn-hazard-yellow {
  @include hazard-btn(theme-color("hazard-yellow"));
}

.btn-block {
  width: 100%;
  display: block;
}

// Cards
.card {
  @each $alliance in $alliances {
    $tc: theme-color($alliance);
    &[data-alliance=#{$alliance}] {
      background-color: desaturate(darken($tc, 25%), 30%);
      border-color: $tc;
    }
  }
}
