@import "./variables.scss";

.navbar-top {
  position: fixed;
  width: 100vw;
  background-color: theme-color("dark");
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  color: white;

  .navbar-text {
    padding: 0;
  }

  &[data-connected="false"] {
    background-color: theme-color("bad");
  }

  &[data-arena-state="Estop"] {
    @include hazard-active(theme-color("hazard-red"));
  }

  &[data-arena-state="Prestart"] {
    background-color: theme-color("success");
  }

  &[data-arena-state="MatchArmed"] {
    @include hazard-active(theme-color("hazard-yellow"));
  }

  &[data-arena-ready="false"] {
    background-color: theme-color("red") !important;
  }
}

.modal-xl {
  max-width: 80vw !important;
}

.estop-big {
  display: block;
  width: 100%;
  padding: 5rem;
  font-size: 6vw;
  font-weight: bold;
  margin-bottom: 1rem;
}

.estop-subtitle {
  font-size: 1.25rem;
  text-align: center;
}

.navbar-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: theme-color("dark");
  padding: 0.5em;
}

.jms-component {
  display: inline-block;
  margin-right: 0.25em;
  font-size: 0.8em;
  
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-radius: 0.5em;

  background-color: theme-color("bad");
  border: 2px solid darken(theme-color("bad"), 20%);

  &[data-heartbeat="true"] {
    background-color: theme-color("good");
    border: 2px solid darken(theme-color("good"), 20%);
  }
}