@import "./variables.scss";

.navbar-top {
  background-color: theme-color("dark");
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  color: white;

  .navbar-text {
    padding: 0;
  }

  &[data-connected="false"] {
    background-color: theme-color("bad");
  }

  &[data-arena-state="Estop"] {
    @include hazard-active(theme-color("hazard-red"));
  }

  &[data-arena-state="Prestart"] {
    background-color: theme-color("success");
  }

  &[data-arena-state="MatchArmed"] {
    @include hazard-active(theme-color("hazard-yellow"));
  }
}

.modal-xl {
  max-width: 80vw !important;
}

.estop-big {
  display: block;
  width: 100%;
  padding: 5rem;
  font-size: 6vw;
  font-weight: bold;
  margin-bottom: 1rem;
}

.estop-subtitle {
  font-size: 1.25rem;
  text-align: center;
}