@import "~bootswatch/dist/darkly/variables";

$theme-colors: (
  "primary": #007bff,
  "success": #28a745,
  "alliance-red": #f53e31,
  "alliance-blue": #3152f5
);

@import "~bootstrap/scss/bootstrap";
@import "~react-datetime/css/react-datetime.css";
@import "~react-bootstrap-range-slider/dist/react-bootstrap-range-slider.css";
@import "~react-bootstrap-typeahead/css/Typeahead.css";
@import "~react-csv-importer/dist/index.css";
@import "~bootswatch/dist/darkly/bootswatch";

.CSVImporter_Importer {
  color: gray("700");
}

.CSVImporter_FileSelector {
  background-color: gray("700");
  color: gray("400");
}

.nav-link.disabled {
  color: $gray-600;
}

html, body, #root {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.app-viewport {
  flex-grow: 1;
  padding: 20px;
  overflow-y: scroll;

  &.fullscreen {
    overflow: hidden;
  }

  &[data-connected=false] {
    background-color: darken(theme-color("danger"), 40%);
  }

  ::-webkit-scrollbar {
    width: 2px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }

  ::-webkit-scrollbar-thumb {
    background: gray("500");
  }
}

.navbar-padding {
  padding-top: 72px;
  > .col {
    height: 0;
  }
}

$hazard-dark-primary: #735a00;
$hazard-dark-secondary: #593e00;
$hazard-red-dark-primary: #730000;
$hazard-red-dark-secondary: #590000;

@mixin scroll-gradient-horizontal($time) {
  background-size: 400% 100%;
  animation: scroll-gradient $time linear infinite;
}

@mixin hazard-btn-dark {
  color: #fff;
  &:hover {
    color: #fff;
    &:enabled {
      @include scroll-gradient-horizontal(60s);
    }
  }
}

.bg-hazard-dark {
  background: repeating-linear-gradient(
    45deg,
    $hazard-dark-primary,
    $hazard-dark-primary 10px,
    $hazard-dark-secondary 10px,
    $hazard-dark-secondary 20px
  );
  color: #fff;
}

.bg-hazard-dark-active {
  @extend .bg-hazard-dark;
  @include scroll-gradient-horizontal(150s);
}

.btn-hazard-dark {
  @extend .bg-hazard-dark;
  @include hazard-btn-dark;
  border-color: $hazard-dark-secondary;
}

.btn-hazard-dark-active {
  @extend .btn-hazard-dark;
  @include scroll-gradient-horizontal(10s);
}

.bg-hazard-red-dark {
  background: repeating-linear-gradient(
    45deg, 
    $hazard-red-dark-primary, 
    $hazard-red-dark-primary 10px, 
    $hazard-red-dark-secondary 10px, 
    $hazard-red-dark-secondary 20px
  );
  color: #fff;
}

.bg-hazard-red-dark-active {
  @extend .bg-hazard-red-dark;
  @include scroll-gradient-horizontal(150s);
}

.btn-hazard-red-dark {
  @extend .bg-hazard-red-dark;
  @include hazard-btn-dark;
  border-color: $hazard-red-dark-secondary;
}

.btn-hazard-red-dark-active {
  @extend .btn-hazard-red-dark;
  @include scroll-gradient-horizontal(10s);
}

@keyframes scroll-gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.alliance {
  border-radius: 10px;
}

@mixin alliance-row {
  border-radius: 5px;
  padding: 5px 0;
  margin: 5px 0;
}

.alliance-header {
  @include alliance-row;
  background-color: rgba(255, 255, 255, 0.25);
  font-weight: bold;
}

.alliance-station {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgba(255, 255, 255, 0.281);
  @include alliance-row;
  &.bypassed {
    background-color: rgba(0, 0, 0, 0.25);
  }
}

.alliance-blue {
  @extend .alliance;
  background-color: rgba(0, 98, 255, 0.75);
}

.alliance-red {
  @extend .alliance;
  background-color: rgba(255, 30, 30, 0.75)
}

.indicator-small {
  width: 25px;
  height: 25px;
  opacity: 1 !important;
  border: 1px solid black !important;
  padding: 2px 4px !important;
  margin: 1px;
}

input[type=number] {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

input.team-num {
  font-size: 14px;
  background-color:rgba(255, 255, 255, 0.75);
  padding: 5px;
  height: 30px;
  min-width: 45px;
  text-align: right;
  color: #000;

  &.buffer-diff {
    background-color: rgb(255, 251, 0);
  }
}

.vr-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.buffer-diff {
  border: 2px solid orange !important;
  &:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px red;
    outline: 0 none;
  }
}

.wizard-attention {
  &:not(.active) {
    @extend .text-danger;
  }
  &.active {
    @extend .bg-danger;
  }
}

.w-15 {
  width: 15%;
}

.wizard-tabs {
  max-width: 250px;
}

.table-striped > tbody > tr:nth-child(odd) {
  &:not(.played) {
    > td {
      &.schedule-blue {
        background-color: lighten(theme-color("alliance-blue"), 5%);
        color: white;
      }
      &.schedule-red {
        background-color: lighten(theme-color("alliance-red"), 5%);
        color: white;
      }
    }
  }

  &.played {
    > td {
      background-color: rgb(70, 70, 70);
      font-style: italic;
    }
  }
}

.table-striped > tbody > tr:nth-child(even) {
  &:not(.played) {
    > td {
      &.schedule-blue {
        background-color: lighten(theme-color("alliance-blue"), 15%);
        color: white;
      }
      &.schedule-red {
        background-color: lighten(theme-color("alliance-red"), 15%);
        color: white;
      }
    }
  }

  &.played {
    > td {
      background-color: rgb(82, 82, 82);
      font-style: italic;
    }
  }
}

tr {
  &.next-match {
    background-color: rgb(122, 84, 0) !important;
    font-weight: bold;
  }

  &.loaded-match {
    background-color: rgb(0, 85, 85) !important;
    font-weight: bold;
  }

  @each $alliance in blue, red {
    &[data-winner=#{$alliance}] {
      > td.schedule-#{$alliance} {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

th {
  &.schedule-blue {
    background-color: darken(theme-color("alliance-blue"), 15%);
    color: white;
  }
  &.schedule-red {
    background-color: darken(theme-color("alliance-red"), 15%);
    color: white;
  }
}

.timekeeper-behind {
  font-weight: bold;
  color: #faa;
}

.bool-toggle {
  > .btn {
    &.false {
      &.active {
        @extend .btn-danger;
      }
      &:not(.active) {
        @extend .btn-outline-danger;
      }
    }
    &.true {
      &.active {
        @extend .btn-success;
      }
      &:not(.active) {
        @extend .btn-outline-success;
      }
    }
  }
}

.scorer-card {
  @each $alliance in blue, red {
    $tc: theme-color("alliance-#{$alliance}");
    &[data-alliance=#{$alliance}] {
      > .card-header {
        background-color: desaturate(darken($tc, 15%), 25%);
      }
      > .card-body {
        background-color: desaturate(darken($tc, 40%), 40%);
      }
    }
  }

  .card-body {
    .row {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
}

#rankings-container {
  padding: 0;
}

.rankings {
  border-collapse: separate;

  thead > tr {
    th {
      text-align: center;
      color: gray("900");
      font-size: 20px;
      background-color: gray("100");
      position: sticky;
      top: 1px;
    }
  }
  tbody > tr {
    td {
      font-weight: bold;
      font-size: 24px;
      text-align: center;
    }

    &:nth-child(even) {
      background-color: gray("800");
    }
    &:nth-child(odd) {
      background-color: gray("700");
    }

    &[data-rank="1"] {
      background-color: #9c8501;
    }
    &[data-rank="2"] {
      background-color: gray("600");
    }
    &[data-rank="3"] {
      background-color: #865320;
    }
  }
}

.award {
  min-width: 315px;
  max-width: 400px;
}