@use "sass:color";

@import "~bootswatch/dist/darkly/variables";

$primary: #005fc4;
$success: #28a745;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,

  "good": #28a745,
  "bad": #e74c3c,
  "red": #f53e31,
  "blue": #3152f5,
  "orange": #d47500,
  "purple": #9300e9,
  "hazard-yellow": #735a00,
  "hazard-red": #730000,
  "gold": #9c8501,
  "silver": #888,
  "bronze": #865320,
);

$accordion-bg: $dark;
$accordion-color: white;
$accordion-button-active-bg: $secondary;
$accordion-button-active-color: white;

$alliances: ( "red", "blue" );

@import "~bootstrap/scss/bootstrap";
@import "~react-datetime/css/react-datetime.css";
@import "~react-bootstrap-range-slider/dist/react-bootstrap-range-slider.css";
@import "~react-bootstrap-typeahead/css/Typeahead.css";
@import "~react-csv-importer/dist/index.css";
@import "~bootswatch/dist/darkly/bootswatch";

@function theme-color($key) {
  @return map-get($theme-colors, $key);
}

@mixin scroll-gradient-horizontal($time) {
  background-size: 400% 100%;
  animation: scroll-gradient $time linear infinite;
}

@keyframes scroll-gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@mixin hazard-btn($bg_a, $bg_b: darken($bg_a, 10%), $text: #fff) {
  border-color: $bg_b;
  &:hover {
    &:enabled {
      @include scroll-gradient-horizontal(60s);
    }
  }
  @include hazard($bg_a, $bg_b, $text);
}

@mixin hazard($bg_a, $bg_b: darken($bg_a, 10%), $text: #fff) {
  background: repeating-linear-gradient(
    45deg,
    $bg_a, $bg_a 10px, $bg_b 10px, $bg_b 20px
  );
  color: $text;
}

@mixin hazard-active($bg_a, $bg_b: darken($bg_a, 10%), $text: #fff, $scroll: 60s) {
  @include hazard($bg_a, $bg_b, $text);
  @include scroll-gradient-horizontal($scroll);
}

a {
  text-decoration: none;
}

.nav-link.disabled {
  color: $gray-600;
}

.btn-block {
  width: 100%;
  display: block;
}

html, body, #root {
  height: 100%;
  touch-action: manipulation;
}

.wrapper {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  > .row {
    margin: 0;
  }
}

.app-viewport {
  flex-grow: 1;
  padding: 20px;
  overflow-y: scroll;

  &.fullscreen {
    overflow: hidden;
  }

  &[data-connected=false] {
    background-color: darken(theme-color("danger"), 40%);
  }

  ::-webkit-scrollbar {
    width: 2px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }

  ::-webkit-scrollbar-thumb {
    background: $gray-500;
  }
}

.navbar {
  padding: 1rem;
}

.navbar-padding {
  padding-top: 72px;
  > .col {
    height: 0;
  }
}

.top-nav {
  &:not([data-connected=true]) {
    background-color: theme-color("bad");
  }
  &[data-connected=true] {
    &[data-arena-state=Prestart] {
      background-color: theme-color("warning");
      &[data-arena-ready=true] {
        background-color: theme-color("good");
      }
    }
    &[data-arena-state=MatchArmed] {
      @include hazard-active(theme-color("hazard-yellow"));
    }
    &[data-arena-state=MatchPlay] {
      &[data-match-state=Auto] {
        background-color: theme-color("purple");
      }
      &[data-match-state=Teleop] {
        background-color: theme-color("orange");
      }
    }
    &[data-arena-state=MatchComplete] {
      background-color: theme-color("warning");
      &[data-arena-ready=true] {
        background-color: theme-color("good");
      }
    }
    &[data-arena-state=MatchCommit] {
      background-color: theme-color("good");
    }
    &[data-arena-state=Estop] {
      @include hazard-active(theme-color("hazard-red"));
    }
  }
}

.btn-estop, .btn-hazard-red {
  @include hazard-btn(theme-color("hazard-red"));
}

.btn-estop-reset, .btn-astop, .btn-hazard-yellow {
  @include hazard-btn(theme-color("hazard-yellow"));
}

.estop-big {
  display: block;
  width: 100%;
  padding: 5rem;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.estop-subtitle {
  font-size: 1.25rem;
  text-align: center;
}

.estop-cancel {
  display: block;
  width: 100%;
}

// .bg-hazard-dark {
//   background: repeating-linear-gradient(
//     45deg,
//     $hazard-dark-primary,
//     $hazard-dark-primary 10px,
//     $hazard-dark-secondary 10px,
//     $hazard-dark-secondary 20px
//   );
//   color: #fff;
// }

// .bg-hazard-dark-active {
//   @extend .bg-hazard-dark;
//   @include scroll-gradient-horizontal(150s);
// }

// .btn-hazard-dark {
//   @extend .bg-hazard-dark;
//   @include hazard-btn-dark;
//   border-color: $hazard-dark-secondary;
// }

// .btn-hazard-dark-active {
//   @extend .btn-hazard-dark;
//   @include scroll-gradient-horizontal(10s);
// }

// .bg-hazard-red-dark {
//   background: repeating-linear-gradient(
//     45deg, 
//     $hazard-red-dark-primary, 
//     $hazard-red-dark-primary 10px, 
//     $hazard-red-dark-secondary 10px, 
//     $hazard-red-dark-secondary 20px
//   );
//   color: #fff;
// }

// .bg-hazard-red-dark-active {
//   @extend .bg-hazard-red-dark;
//   @include scroll-gradient-horizontal(150s);
// }

// .btn-hazard-red-dark {
//   @extend .bg-hazard-red-dark;
//   @include hazard-btn-dark;
//   border-color: $hazard-red-dark-secondary;
// }

// .btn-hazard-red-dark-active {
//   @extend .btn-hazard-red-dark;
//   @include scroll-gradient-horizontal(10s);
// }

input[type=number] {
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.vr-right {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

[data-buffer-diff=true] {
  border: 2px solid orange !important;
  &:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px red;
    outline: 0 none;
  }
}

.w-15 {
  width: 15%;
}

.table-striped > tbody > tr:nth-child(odd) {
  &:not([data-played]) {
    > td {
      @each $alliance in $alliances {
        &[data-alliance=#{$alliance}] {
          background-color: lighten(theme-color($alliance), 5%);
          color: white;
        }
      }
    }
  }

  &[data-played] {
    > td {
      background-color: rgb(70, 70, 70);
      font-style: italic;
    }
  }
}

.table-striped > tbody > tr:nth-child(even) {
  &:not([data-played]) {
    > td {
      @each $alliance in $alliances {
        &[data-alliance=#{$alliance}] {
          background-color: lighten(theme-color($alliance), 15%);
          color: white;
        }
      }
    }
  }

  &[data-played] {
    > td {
      background-color: rgb(82, 82, 82);
      font-style: italic;
    }
  }
}

tr.match {
  &[data-next] {
    background-color: rgb(122, 84, 0) !important;
    font-weight: bold;
  }

  &.active {
    background-color: rgb(0, 85, 85) !important;
    font-weight: bold;
  }

  @each $alliance in blue, red {
    &[data-winner=#{$alliance}] {
      > td[data-alliance=#{$alliance}] {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

th {
  @each $alliance in $alliances {
    &[data-alliance=#{$alliance}] {
      background-color: darken(theme-color($alliance), 15%);
      color: white;
    }
  }
}

.timekeeper-behind {
  font-weight: bold;
  color: #faa;
}

.bool-toggle {
  > .btn {
    &.false {
      &.active {
        @extend .btn-danger;
      }
      &:not(.active) {
        @extend .btn-outline-danger;
      }
    }
    &.true {
      &.active {
        @extend .btn-success;
      }
      &:not(.active) {
        @extend .btn-outline-success;
      }
    }
  }
}

#rankings-container {
  padding: 0;
}

.rankings {
  border-collapse: separate;

  thead > tr {
    th {
      text-align: center;
      color: $gray-900;
      font-size: 20px;
      background-color: $gray-100;
      position: sticky;
      top: 1px;
    }
  }
  tbody > tr {
    td {
      font-weight: bold;
      font-size: 24px;
      text-align: center;
    }

    &:nth-child(even) {
      background-color: $gray-800;
    }
    &:nth-child(odd) {
      background-color: $gray-700;
    }

    &[data-rank="1"] {
      background-color: theme-color("gold");
    }
    &[data-rank="2"] {
      background-color: theme-color("silver");
    }
    &[data-rank="3"] {
      background-color: theme-color("bronze");
    }
  }
}

.grow {
  flex-grow: 1;
}

.col-full {
  display: flex;
  flex-direction: column;
  padding: 0;

  > * {
    flex-grow: 1;
    margin: 0;
  }
}

.monitor-alliance {
  align-content: stretch;
  @each $alliance in $alliances {
    $tc: theme-color($alliance);
    &[data-alliance=#{$alliance}] {
      > .monitor-station {
        flex: 1 !important;

        background-color: desaturate(darken($tc, 45%), 25%);
        border: 2px solid $gray-800;
        
        > .monitor-station-id {
          background-color: desaturate(darken($tc, 25%), 25%);
          text-align: center;
          font-size: 30px;
          font-weight: bold;
          padding: 0.25em;
          color: desaturate($tc, 25%);
        }

        > .monitor-data {
          align-content: stretch;
          
          font-size: 25px;
          font-weight: bold;
          color: theme-color("secondary");

          [data-ok="false"] {
            color: theme-color("danger");
          }

          [data-ok="true"] {
            color: theme-color("success");
          }

          > .row {
            flex: 1 !important;
            padding: 4px;
          }
          
          .monitor-data-header {
            flex-grow: 0 !important;
            background-color: black;
          }

          .monitor-team {
            color: white;
            text-align: center;
          }

          .monitor-jumbo {
            text-align: center;
            font-size: 40px;
            color: theme-color("success");
            &[data-error] {
              color: theme-color("danger");
            }
          }

          .monitor-indicators {
            flex-grow: 0 !important;
            padding: 5px 0;
            background-color: black;
            margin: 0;
            > .col {
              padding: 0;
            }
          }
        }

        .monitor-occupancy {
          &[data-occupancy="Vacant"] {
            &:before { content: "NO DS" }
            color: theme-color("danger")
          }
          &[data-occupancy="Occupied"] {
            &:before { content: "DS OK" }
            color: theme-color("success");
          }
          &[data-occupancy="WrongMatch"] {
            &:before { content: "DS WAIT" }
            color: theme-color("danger");
          }
          &[data-occupancy="WrongStation"] {
            &:before { content: "DS MOVE" }
            color: theme-color("warning");
          }
        }

        &[data-error] {
          border: 2px red solid;
        }

        &[data-bypass="true"] {
          background-color: $gray-900;
          > .monitor-team {
            color: $gray-600;
          }

          .monitor-jumbo {
            color: $gray-700;
          }
        }

        &[data-estop="true"] {
          > .monitor-data {
            // @extend .bg-hazard-red-dark-active;
            .monitor-jumbo {
              color: white;
            }
          }
        }
      }
    }
  }
}

.card {
  @each $alliance in $alliances {
    $tc: theme-color($alliance);
    &[data-alliance=#{$alliance}] {
      background-color: $tc;
      > .card-header {
        background-color: desaturate(darken($tc, 15%), 10%);
      }
    }
  }
}

.btn-xl {
  font-weight: bold;
  font-size: 1.45em;
  height: 3.75em;
}

.penalty-category {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 1em;

  @each $alliance in $alliances {
    $tc: theme-color($alliance);
    &[data-alliance=#{$alliance}] {
      background-color: desaturate(darken($tc, 25%), 30%);
    }
  }

  .penalty-count {
    text-align: center;
    font-size: 4em;
    margin-bottom: 0.125em;
  }
}

.referee-team {
  margin: 0.5em;
  padding: 1em;
  border-radius: 1em;

  @each $alliance in $alliances {
    $tc: theme-color($alliance);
    &[data-alliance=#{$alliance}] {
      background-color: desaturate(darken($tc, 25%), 30%);
    }
  }

  .team {
    font-size: 2em;
    margin-left: 0.5em;
  }
}

.endgame-state {
  text-align: center;
}

.head-ref-field-ax {
  > .btn {
    margin-left: 1em;
  }
}

.scorer-container {
  .scorer-img {
    img {
      max-width: 40vw;
      max-height: calc(100vh - 280px);
      // height: 100%;
      object-fit: contain;
    }
  }

  .scorer-col {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .scorer-button-pair {
    > *:first-child {
      padding-right: 0;
    }

    > *:last-child {
      padding-left: 0;
    }

    .btn {
      font-size: 1.5em;
      height: 5em;

      .current-value {
        font-size: 2em;
      }
    }
  }
}

.timer {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;

  text-align: center;
  font-size: 40vw;
  font-weight: bold;
}

.team-estop {
  text-align: center;
  
  .estop-all {
    display: block;
    width: 100%;
    height: 50vh;
    font-weight: bold;
    font-size: 5em;
  }

  .estop-auto {
    display: block;
    width: 100%;
    height: 30vh;
    font-weight: bold;
    font-size: 4em;
  }

  .subtext {
    font-size: 0.8em;
    opacity: 0.8;
  }
}

@import "audience/Audience.scss";
@import "match_control/MatchControl.scss";
@import "wizard/EventWizard.scss";