.referee-selector {
  .btn {
    &[data-alliance=blue] {
      @extend .btn-blue;
      left: 30%;
    }
    &[data-alliance=red] {
      @extend .btn-red;
      left: 70%;
    }
    &[data-position=near] {
      bottom: 10%;
    }
    &[data-position=far] {
      bottom: 90%;
    }

    &[data-head-referee=true] {
      @extend .btn-orange;
      left: 50%;
      bottom: 10%;
    }
  }
}

.btn-penalty {
  font-weight: bold;
  font-size: 1.45em;
  height: 3.75em;
}

.penalty-category {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 1em;

  @each $alliance in $alliances {
    $tc: theme-color($alliance);
    &[data-alliance=#{$alliance}] {
      background-color: desaturate(darken($tc, 25%), 30%);
    }
  }

  .penalty-count {
    text-align: center;
    font-size: 4em;
    margin-bottom: 0.125em;
  }
}

.referee-station {
  margin: 0.5em;
  padding: 1em;
  border-radius: 1em;

  @each $alliance in $alliances {
    $tc: theme-color($alliance);
    &[data-alliance=#{$alliance}] {
      background-color: desaturate(darken($tc, 25%), 30%);
    }
  }

  .referee-station-team {
    font-size: 2em;
    margin-left: 0.5em;
  }

  .referee-station-score {
    padding: 0.5em;

    &[data-score-type=taxi] {
      @extend .btn-bad;
      &[data-score-value=true] {
        @extend .btn-good;
      }
    }

    &[data-score-type=endgame] {
      width: 100%;
      display: flex;
      > button {
        @extend .btn-outline-light;
        &[data-selected=true] {
          @extend .btn-good;
        }
        flex-grow: 1;
        font-weight: bold;
      }

      &[data-score-value=None] > [data-selected=true] {
        @extend .btn-bad;
      }
      // @extend .btn-outline-secondary;
      // &[data-selected=true] {
      //   @extend .btn-good;
      //   &[data-score-value=None] {
      //     @extend .btn-bad;
      //   }
      // }
    }
  }
}