.monitor-alliance {
  align-content: stretch;
  @each $alliance in $alliances {
    $tc: theme-color($alliance);
    &[data-alliance=#{$alliance}] {
      > .monitor-station {
        flex: 1 !important;

        background-color: desaturate(darken($tc, 45%), 25%);
        border: 2px solid $gray-800;
        
        > .monitor-station-id {
          background-color: desaturate(darken($tc, 25%), 25%);
          text-align: center;
          font-size: 2rem;
          font-weight: bold;
          padding: 0.25em;
          color: desaturate($tc, 25%);
        }

        > .monitor-data {
          align-content: stretch;
          
          font-size: 1.5rem;
          font-weight: bold;
          color: theme-color("secondary");

          [data-ok="false"] {
            color: theme-color("danger");
          }

          [data-ok="true"] {
            color: theme-color("success");
          }

          > .row {
            padding: 4px;
          }
          
          .monitor-data-header {
            background-color: black;
            flex-grow: 0;
          }

          .monitor-team {
            color: white;
            text-align: center;
          }

          .monitor-jumbo {
            flex-grow: 1 !important;
            text-align: center;
            font-size: 1.8em;
            color: theme-color("success");
            &[data-error] {
              color: theme-color("danger");
            }

            .monitor-team-estop {
              height: 100%;
              font-size: 1em;
              font-weight: bold;
            }
          }

          .monitor-indicators {
            padding: 5px 0;
            background-color: black;
            margin: 0;
            flex-grow: 0;
            > * {
              padding: 0 0.5em;
            }
          }
        }

        .monitor-eth {
          padding-right: 0;
          &[data-eth-ok=true] {
            color: theme-color("good")
          }
        }

        .monitor-occupancy {
          &[data-occupancy="Vacant"] {
            &:before { content: "NO DS" }
            color: theme-color("danger")
          }
          &[data-occupancy="Occupied"] {
            &:before { content: "DS OK" }
            color: theme-color("success");
          }
          &[data-occupancy="WrongMatch"] {
            &:before { content: "DS WAIT" }
            color: theme-color("danger");
          }
          &[data-occupancy="WrongStation"] {
            &:before { content: "DS MOVE" }
            color: theme-color("warning");
          }
        }

        &[data-error] {
          border: 2px red solid;
        }

        &[data-bypass="true"] {
          background-color: $gray-900;
          > .monitor-team {
            color: $gray-600;
          }

          .monitor-jumbo {
            color: $gray-700;
          }
        }

        &[data-estop="true"] {
          > .monitor-data {
            @include hazard(theme-color("hazard-red"));
            .monitor-jumbo {
              color: white;
            }
          }
        }
      }
    }
  }
}

.monitor-estop-toggle {
  height: 10vh;
  max-height: 10vh;
  min-height: 7vh;
  .btn {
    font-size: 2em;
    font-weight: bold;
    color: $gray-300;
  }
}