@import "../variables.scss";

.log-line {
  margin: 0;
  font-family: monospace;
  font-size: 0.9em;

  .log-time {
    color: #555;
  }

  .log-separator {
    color: #555;
  }

  .log-location {
    font-style: italic;
    color: #777;
  }
  
  &[data-level="INFO"] {
    .log-level { color: theme-color("success") }
    .log-location { display: none; }
  }

  &[data-level="WARN"] {
    .log-level { color: theme-color("warning") }
    .log-message { color: theme-color("warning") }
  }

  &[data-level="ERROR"] {
    .log-level { color: theme-color("danger"); font-weight: bold; }
    .log-message { color: theme-color("danger"); font-weight: bold; }
  }
}