@import "../variables.scss";

.event-wizard-nav {
  max-width: 17em;
}

.event-wizard-tab-link {
  background-color: theme-color("dark");

  &[data-active="true"] {
    background-color: theme-color("primary");
  }

  &:hover {
    cursor: pointer;
    opacity: 80%;
  }
}

@import "~react-csv-importer/dist/index.css";

.CSVImporter_Importer {
  color: $gray-700;
}

.CSVImporter_FileSelector {
  background-color: $gray-700;
  color: $gray-400;
}