@import "../variables.scss";

.event-wizard-nav {
  max-width: 17em;
}

.event-wizard-tab-link {
  background-color: theme-color("dark");

  &[data-active="true"] {
    background-color: theme-color("primary");
  }

  &:hover {
    cursor: pointer;
    opacity: 80%;
  }
}